PORT= Project Port
MONGODB_URI=Your MongoDB_URI
CORS_ORIGIN= CORS origin here

ACCESS_TOKEN_SECRET=your access token secret
ACCESS_TOKEN_EXPIRY=expiry time

REFRESH_TOKEN_SECRET=your refresh token secret
REFRESH_TOKEN_EXPIRY=expiry time

CLOUDINARY_CLOUD_NAME=Your cloud name
CLOUDINARY_API_KEY=Your cloudinary api key
CLOUDINARY_API_SECRET=Your cloudinary api secret